button{
    background-color: rgb(221, 133, 25);
    color: yellow;
    border-radius: 12px;
    margin: 10px;
    border:10px;
}

a{
    color:white;
    text-decoration: none;
}

ul{
    list-style-type: none;
}

html{
    background-color: rebeccapurple ;
}